<div class="card m-3">
    <div class="card-header">{{post.title}}</div>
    <div class="card-body">
        <h5 class="card-title">Posted by: {{post.user.name}} on {{post.date}}</h5>
        <p class="card-text">{{post.content}}</p>
        <p class="card-text">{{post.comments}}</p>
    </div>
</div>
{{#each comm as |com| }}
    <p>{{com.content}}</p>
    <p>{{com.user.name}}</p>
{{/each}}